include ../helpers/_variables.pug

mixin side-bar-item(link, icon, text)
    li
        a.sidebar-link(href=link + ".html", class=text == pageName ? "active" : "")
            i(class="fa-fw " + icon)
            span #{text}

mixin notification(image, content, time)
    li
        a(href="#")
            img(src=image, alt="Avatar")
            div
                span #{content}
                span #{time}

mixin page-heading(text)
    h1.page-heading #{text}

mixin box-header(icon, title, parag="")
    .box-header
        i(class=icon)
        h2 #{title}
        if parag != ""
            p #{parag}

mixin subtitle(heading, para)
    .subtitle
        h4 #{heading}
        p #{para}

mixin target(name, icon, number, progress)
    .target(class=name)
        .icon
            i.fa-lg(class=icon)
        .details
            span #{name}
            span #{number}
            .progress
                span(data-width=progress)
                    span #{progress}

mixin ticket(icon, number, word)
    .ticket(class=word)
        i.fa-2x(class=icon)
        span(data-goal=number) 0
        span #{word}

mixin news(imagePath, heading, parag, time)
    div
        img(src=imagePath, alt="")
        div
            h4 #{heading}
            p #{parag}
        span #{time}

mixin task(heading, parag, done)
    .task(class=done == "true" ? "done" : "")
        div
            h4 #{heading}
            p #{parag}
        i.fa-solid.fa-xmark.uncheck-btn
        i.fa-solid.fa-check.check-btn
        i.fa-regular.fa-trash-can.delete-btn

mixin search-item(word, number)
    div
        span #{word}
        span.number #{number}

mixin reminder(title, dateTime)
    .reminder
        span
        div
            p #{title}
            span #{dateTime}

mixin social-media(icon, account, word, link)
    .social-media-account(class=account)
        i(class=icon)
        span #{word}
        a(href=link, target="_blank") View

mixin plans-item(feature, status)
    li
        i.fa-solid.fa-fw(class=status == "true" ? "fa-check yes" : "fa-xmark no")
        span #{feature}
        i.fa-solid.fa-circle-info.help

mixin switch-toggle(check)
    label.switch
        if check
            input.toggle-checkbox(type="checkbox" checked)
        else
            input.toggle-checkbox(type="checkbox")
        .toggle-switch

mixin custom-checkbox(word, check)
    if check
        input.custom-checkbox(type="checkbox", id="check-" + word.slice(0,3), checked)
    else
        input.custom-checkbox(type="checkbox", id="check-" + word.slice(0,3))
    label.custom-checkbox-label(for="check-" + word.slice(0,3)) #{word}

mixin custom-radio(word, check)
    if check
        input.custom-radio(type="radio", id="radio-" + word.slice(0,3), name="backup-time", checked)
    else
        input.custom-radio(type="radio", id="radio-" + word.slice(0,3), name="backup-time")
    label.custom-radio-label(for="radio-" + word.slice(0,3)) #{word}

mixin radio-icon-word(word, icon, check)
    if check
        input.custom-radio-icon(type="radio", id="radio-" + word.slice(0,3), name="backup-server", checked)
    else
        input.custom-radio-icon(type="radio", id="radio-" + word.slice(0,3), name="backup-server")
    .server
        label(for="radio-" + word.slice(0,3))
            i(class=icon)
            | #{word}

mixin social-input(name, icon,val)
    li
        i(class=name.toLowerCase() + " " + icon)
        input(type="text", value=val, readonly)